#This config file is to be used with the CRITs command line utility.
#It defines the location of the server and the credentials to use.
#In addition, it can be used to specify defaults for certain command line flags.

[General]
#Enable debugging for verbose output. (Values: 0 or 1)
debug : 0

#Verify the SSL Certificate when making an HTTPS connection to CRITs. (Values: 0 or 1)
verify : 1


[CritsCreds]

#This is full URL for the API inlcuding the API version number.
CRITs_URL : https://127.0.0.1/api/v1/

#Your CRITs username.
#The user must be an admin in order to perform deletes in CRITs.
username : 

#You must get your own API key from the CRITs server.
API_Key : 


[DefaultIndicatorInfo]

#The default campaign for the request.
campaign_name :

#The prefix for campaigns based on open source lists.
open_source_campaign_prefix : OS-

#The default confidence level for IPs and domains added to the system.
confidence_level : low

#Whether or not uploaded data should also be recorded as indicators.
add_indicator : False

#The default CRITs source for the request. It must exist on the server.
source : 
